* {
    color: rgb(174, 197, 40);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav {

    position: fixed;
    top: 0px;
    right: 20px;
    margin: 10px;
    width: 100%;
    padding: 2px;
}

.center1 {
    text-align: center;

}

.container1 {
    font-size: 75%;
    font-weight: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.containter3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    border: 1px solid;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

.boxforalbert {
    display: flex;
    flex: 1 0 auto;
    margin: 15px;
    padding: 10px;
    justify-content: center;
    font-size: 140%;
    position: relative;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
}

.Profilepic {
    width: 45%;
}

.Horiseonimg {
    display: flex;
    justify-content: center;
    margin: 5px;
    border: #8b0303;
    width: 100%;
}

.Horiseonimg:hover {
    opacity: 0.5;
    cursor: pointer;
}

.listhead {
    list-style: none;
    display: flex;
    height: 5px;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 10px;
    flex: 1 0 auto;
}

.projects {
    text-align: center;
    font-size: 330%;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid;

}

footer {
    display: flex;
    flex: 1 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.googlelogo {
    width: 10%;
}

.youtubelogo:first-child {
    width: 45%;
}

.amazonlogo:last-child {
    width: 45%;
}

.img1pr:hover {
    opacity: 0.5;
}

.img2pr:hover {
    opacity: 0.5;

}

.img3pr:hover {
    opacity: 0.5;
}

.img4pr:hover {
    opacity: 0.5;
}

.home:hover {
    opacity: 0.5;
    cursor: pointer;
}

.aboutme:hover {
    opacity: 0.5;
    cursor: pointer;
}

.hoveraboutme:hover {
    opacity: 0.5;
}

.projectsnavbar {
    opacity: 0.8;
    cursor: pointer;
}

button {
    background-color: cornflowerblue;
    color: blue;
}

@media (max-width: 968px) {
    * {
        color: #22992c;
    }

}

@media (max-width: 968px) {
    .Profilepic {
        width: 75%;
    }
}

@media (max-width: 968px) {
    .Horiseonimg {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .nav {
        position: static;
        background-color: transparent;
        color: #333;
        padding: 20px;
        display: inline;
        font-size: ;
    }
}

@media (max-width: 768px) {
    .container1 {
        font-size: 95%;
    }

}